{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulls & Cows</title>
    <link rel = stylesheet href = "{% static 'css/style.css' %}">
</head>
<body>
    <header><a href="result">Result Page</a></header>
    <div class="main_input">
        <h1>Bulls and Cows<h1>
        <p>Error: Numbers should not be repeated</p>
        <form action="/" method="POST">
            {% csrf_token %}
            <label>Enter numbers:</label><br/>
            <input type="number" name="first_number" min="1" max="10"/><input type="number" name="second_number" min="1" max="10"/><input type="number" name="third_number" min="1" max="10"/><input type="number" name="fourth_number" min="1" max="10"/><br/>             
            <input type="submit" value="Send"/>
        </form>
    </div>
</body>
</html>