body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    background-color: rgb(15, 194, 218);
    font-size: 20px;
    font-style: normal;
    color: rgb(18, 218, 78);
    text-align: center;
}

header a {
    font-family: inherit;
    font-size: 20px;
    color: lime;
}

h1 {
    font-family: monospace;
    font-size: 50px;
    font-weight: 900;
    color: blueviolet;
}

.main_input label {
    font-style: normal;
    color:rgb(240, 91, 4)
}

.steps_history p {
    font-size: 30px;
    color: rgb(4, 8, 240);
}

